PORT=3000
ARK_API_KEY=your_ark_api_key
ARK_MODEL=doubao-seed-2-0-lite-260428
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
DOUBAO_TTS_APP_ID=your_doubao_tts_app_id
DOUBAO_TTS_TOKEN=your_doubao_tts_token
DOUBAO_TTS_CLUSTER=volcano_tts
DOUBAO_TTS_VOICE_TYPE=BV421_streaming
